
 @media screen and (min-width: 900px){
   .container{
     margin-left: 15%;
     margin-right: 15%;
   }
}
@media screen and (max-width: 900px){
  .container{
    margin-left: 5%;
    margin-right: 5%;
  }
}
  .header{
    width: 100%;
    display: flex;
    justify-content:center;
  }
  .headerImg{
    width: 30%;
    flex: wrap;
    display: flex;
    justify-content: center;
    background-color: #e0e1e1;

  }
  .headerTextContainer{
    width: 70%;
    flex: wrap;
    justify-content:center;
    margin-left: 50px;
  }
  .headerText{
    font-size:30px;
    font-family:Times;
    color:#d0826e;
  }
  .mainContainer{
    width: 100%;
    display: flex;
    justify-content:center;
  }
    .leftPartContainer{
      width: 30%;
      flex: wrap;
      display: flex;
      justify-content: center;
      background-color:#e0e1e1;
    }
      .rightPartContainer{
        width: 70%;
        flex: wrap;
        justify-content:center;
      }
.leftPartHeader{
  color:#253546;
  font-size:16px;font-family:Times;
  display: flex;
    justify-content: center;
}
.rightPartHeader{
color:#d0826e;
  font-size:16px;font-family:Times;
  display: flex;
    justify-content: center;
}
.rightPartText{
  color:#253546;
font-family:Times;
margin-left: 50px;

}
.contactsList{
  list-style-type: none;
  display: flex;
  justify-content: flex-start;

}
